
body{
  font-family: 'Roboto Mono',monospace;
  background-image: url("https://i.pinimg.com/originals/f5/fe/9e/f5fe9e84e2313353535bb2897a6e916d.gif");
  background-size: 100%;  
  background-repeat: no-repeat;
}
.container {
  text-align: center;
  padding: 20px;
  height: 100vh;
}
.page-title {
  color: #16149c;
  margin: 0 0 5px;
  text-align: center;
}


.caixa1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("https://i.pinimg.com/originals/bd/30/26/bd3026b3585cfe961508387b8dc4786c.gif");
  width: 240px;
  height: 270px;
  margin-top: 80px;
  margin-left: 200px;
  color: rgb(243, 13, 13);
}

p {display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 116px;
  right: 200px;
  width: 200px;
  height: 200px; 
  font:bold; 
  font-size: 25px;
  color:rgb(253, 15, 15);
  text-align: center;
  line-height: 28px;
}

input {
  
  width: 100px;
  height: 20px;
}

button {
  margin-top: 20px;
  background-color: #47af66;
  color: black;
  width: 100px;
  height: 30px;

}
  


/* logo imersaodev*/
.page-logo {
  width: 200px;
  position: absolute;
  top: 20px;
  left:10px;
 
}




